* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #5c6a79;
  --bold-color: #1c2a39;
}

body {
  font-family: "Montserrat";
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  color: var(--bold-color);
}
